html, body {
  height: 100%;
  margin: 0;
}
a {
  color: #007bff;
  font-family: 'EB Garamond', serif;
  } 
a:hover {
  color: #0056b3;
  font-family: 'EB Garamond', serif;
  }
.page-container{
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-family: 'EB Garamond', serif;
  }
.background-home{
  background-image: url('images/100_0065.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
